<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>邀请好友</title>
    <link rel="stylesheet" type="text/css" href="css/invite.css?t=1"/>
    <script src="js/zepto.min..js" type="text/javascript" charset="utf-8"></script>
	<script src="js/flexible.js"></script>
	<script>
		var _czc = _czc || [];
		_czc.push(["_setAccount", "1261312741"]);
	</script>
	<script>
        if(location.protocol == 'https:'){
          document.write('<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">');
        }
    </script>
</head>
<html>
	<body>
		<section class="inviteCard">
			<div class="inviteLink">
				<a id="shareBtn">分享给我的朋友</a>
			</div>
		</section>
		<section id="inviteUser" class="inviteUser">
			<h5>已邀请<em>0</em>个朋友</h5>
			<div class="inviteList">
				<div class="explain">
					<i class="gift"></i>
					<span>邀请好友满7位，送<em>1000书券</em>大礼包</span>
				</div>
				<!--<ul class="userList">
					<li>
						<i>
							<img src="icon.jpg"/>
						</i>
						<span class="userName">卡卡卡卡</span>
						<span class="info"><em>200书券  </em>已入账</span>
					</li>
					<li>
						<i>
							<img src="icon.jpg"/>
						</i>
						<span class="userName">卡卡卡卡</span>
						<span class="info"><em>200书券  </em>已入账</span>
					</li>
					<li>
						<i>
							<img src="icon.jpg"/>
						</i>
						<span class="userName">卡卡卡卡</span>
						<span class="info noReceive"><em>200书券  </em>已入账</span>
					</li>
				</ul>-->
			</div>
			<div class="rule">
				<a href="rule.html">了解详细规则</a>
			</div>
		</section>
		<script src="js/bridge.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/invite.js?v=10" type="text/javascript" charset="utf-8"></script>
	</body>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1261312741'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261312741' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
