<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>邀请你使用追书，送你200书券！</title>
    <script src="js/zepto.min..js" type="text/javascript" charset="utf-8"></script>
	<script src="js/flexible.js"></script>
	<link rel="stylesheet" type="text/css" href="css/receive.css?v=1"/>
	<script>
		var _czc = _czc || [];
		_czc.push(["_setAccount", "1261312741"]);
	</script>
</head>
<html class="borderbox">
	<body>
		<section class="container">
			<div class="wrap">
				<div class="phoneInp">
					<input id="mobile" type="tel" maxlength="11" placeholder="请输入手机号" />
					<a id="accept" class="button">立即领券 ></a>
				</div>
				<div class="explain">
					<p>完成被邀请后获得<em>200书券</em></p>
					<a class="rule" href="rule.html">详细规则</a>
				</div>
			</div>
		</section>
		<div id="mask" class="mask">
				<div id="confirm" class="confirm">
					<h6>提示</h6>
					<div class="text">
					</div>
					<a class='sureBtn'>知道了</a>
				</div>
			</div>
		<script src="js/receive-v2.js" type="text/javascript" charset="utf-8"></script>
	</body>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1261312741'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261312741' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
