<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>邀请好友使用追书</title>
	<script src="js/flexible.js"></script>
	<link rel="stylesheet" type="text/css" href="css/success.css?t=1"/>
</head>
<html class="borderbox">
	<body>
		<section class="container">
			<div class="wrap">
				<a class="button" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.ushaqi.zhuishushenqi">下载追书神器</a>
				<div class="tips">
					必须使用追书V3.111及其以上版本，才能完成邀请
				</div>
				<div class="explain">
					<p><em>1、</em>也可在各大应用超市内下载追书神器app。</p>
					<p><em>2、</em>下载APP登录并验证手机号，会发现您和您好友的书券都到账了</p>
					<div class="rule">
						<a href="rule.html">详细规则</a>
					</div>
				</div>
			</div>
		</section>
	</body>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1261312741'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261312741' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
