.c-loading{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .loader{
       position: relative;
        display: block;
        width: 50/$px2rem;
        height: 50/$px2rem;
        border-radius: 50%;
        margin: 70% auto 0;
        font-size: 10px;
        text-indent: -9999em;
        border-top: 3px solid rgba(0,0,0,.1);
        border-right: 3px solid rgba(0,0,0,.1);
        border-bottom: 3px solid rgba(0,0,0,.1);
        border-left: 3px solid #fff;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: loading 1.1s infinite linear;
        animation: loading 1.1s infinite linear; 
    }
    @-webkit-keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }  
    @keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}
    
.c-modal{
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -175/$px2rem;
    width: 350/$px2rem;
    height: 80/$px2rem;
    line-height: 80/$px2rem;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    font-size: 14px;
}