<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <canvas id="canvas" width="500" height="500"></canvas>
    <script>

        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        // context.fillRect(0, 0, 100, 100);
        // context.strokeRect(120, 60, 100, 100);
        var r = 100;
        var deg = 45;
        var path = new Path2D();
        context.beginPath();
        
        // path.lineTo(x,y);
        path.moveTo(200, 100);
        // path.moveTo(200, 200);
        
        path.arc(200, 100, r, 0, Math.PI/(180/30));
        path.lineTo(200, 100);
        // context.closePath(path);
        context.fill(path);
        // context.fillStyle = 'rgba(0,255,0,0.25)';
        // context.fill(path);



    </script>
</body>
</html>