@import "component/base.scss";
@import "component/mixin.scss";

.container{
    width: 100%;
    padding: 30/$px2rem;
    margin-bottom: 115/$px2rem;
    font-size: 37/$px2rem;
    .main{
        h2{
            padding: 40/$px2rem 0;
            @include font-dpr(20);
        }
        .from{
            padding-bottom: 20/$px2rem;
            color: #999;
            font-size: 20/$px2rem;
            border-bottom: 1px solid #e9e9e9;
            .date{
                margin-left: 25/$px2rem;
            }
        }
        .banner{
            margin: 50/$px2rem 0;
            img{
                width: 100%;
            }
        }
        .context{
            color: #353535;
            p{
               @include font-dpr(16);
               line-height: 1.5em;
               &.paragraph{
                    margin-top: 50/$px2rem;
                }
            }

        }
        .surplus{
            margin-top: 40/$px2rem;
            text-align: center;
            a{
                color: #b93521;
                font-size: 30/$px2rem;
                text-decoration: none;
            }
        }
    }
    .rec{
        margin-top: 50/$px2rem;
        .title{
            overflow: hidden;
            margin-bottom: -1px;
            h3{
                float: left;
                height: 80/$px2rem;
                line-height: 80/$px2rem;    
                border-bottom: 1px solid #b93521;
                color: #999;
                font-size: 35/$px2rem;
                font-weight: normal;
            }
        }
        .recList{
            list-style-type: none;
            li{
                a{
                    display: block;
                    height: 200/$px2rem;
                    padding: 20/$px2rem 0;
                    border-top: 1px solid #e9e9e9;
                    .left{
                        float: left;
                        position: relative;
                        width: 360/$px2rem;
                        height: 100%;
                        h4{
                            display: -webkit-box;
                            line-height: 1.2em;
                            color: #353535;
                            font-size: 35/$px2rem;
                            font-weight: normal;
                            overflow: hidden;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }
                        span{
                            position: absolute;
                            bottom: 0;
                            text-decoration: underline;
                            color: #b93521;
                            font-size: 20/$px2rem;
                        }
                    }
                    .right{
                        float: right;
                        width: 230/$px2rem;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.footerWrap{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20/$px2rem;
    background-color: #f7f7f7;
    border-top: 1px solid #b2b2b2;
    overflow: hidden;
    img{
        float: left;
        width: 75/$px2rem;
        margin-right: 20/$px2rem;
    }
    .desc{
        float: left;
        padding-top: 2px;
        line-height: 1.2em;
        vertical-align: middle;
        h6{
            color: #B93521;
            @include font-dpr(14);
            font-weight: normal;
        }
        p{
            color: #727272;
            @include font-dpr(12);
        }
    }
    a{
        float: right;
        width: 140/$px2rem;
        height: 55/$px2rem;
        line-height: 55/$px2rem;
        margin: 10/$px2rem;
        border-radius: 4px;
        background-color: #b93521;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 25/$px2rem;
    }
}
