<!DOCTYPE html>
<html>
    <head>
        <title>追书神器</title>
        <meta charset="utf-8"/>
        <script>
            var _czc = _czc || [];
            _czc.push(["_setAccount", "1261312741"]);
        </script>
    </head>
    <body>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1261312741'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261312741' type='text/javascript'%3E%3C/script%3E"));</script>
        <script>
            (function(){
                var linkA = 'http://promote.zhuishushenqi.com/auto/index.html?android=https%3A%2F%2Fs.zhuishushenqi.com%2Fzssq-smsema.apk&ios=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fapple-store%2Fid1355971183%3Fpt%3D118402069%26ct%3Dzssq-smsema%26mt%3D8&amp;default=http%3A%2F%2Fpromote.zhuishushenqi.com';
                var linkB = 'http://promote.zhuishushenqi.com/auto/index.html?android=https%3A%2F%2Fs.zhuishushenqi.com%2Fzssq-smsemb.apk&ios=https%3A%2F%2Fitunes.apple.com%2Fapp%2Fapple-store%2Fid1355971183%3Fpt%3D118402069%26ct%3Dzssq-smsemb%26mt%3D8&amp;default=http%3A%2F%2Fpromote.zhuishushenqi.com';
                if(Math.random()<0.5){
                    _czc.push(["_trackEvent", "下载包分流", "跳转", 'zssq-smsema', 1, "active"]);
                    window.location.href = linkA;
                }else{
                    _czc.push(["_trackEvent", "下载包分流", "跳转", 'zssq-smsemb', 1, "active"]);
                    window.location.href = linkB;
                }
            })()    
        </script>
    </body>
</html>