<!DOCTYPE html>
<html data-dpr = "1">
	<head>
		<meta charset="UTF-8">
		<meta name="applicable-device" content="mobile">
    	<meta name="referrer" content="always">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<title>约ta追书</title>
		<link rel="stylesheet" type="text/css" href="css/invite.css?t=2"/>
		<script src="js/zepto.min..js" type="text/javascript" charset="utf-8"></script>
		<script src="js/flexible.js"></script>
		<script>
			var _czc = _czc || [];
			_czc.push(["_setAccount", "1261312741"]);
		</script>
		<script>
	        if(location.protocol == 'https:'){
	          document.write('<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">');
	        }
	   </script>		
	</head>	
	<body>
		<img style="width: 100%;" src="./img/fixing.jpg?v=1" alt="">
		<!-- <section class="Top">
			<div class="title">
				<h2>每成功约到一个新伙伴</h2>
				<h2>你和ta各得200书券！</h2>
			</div>
			<div class="inviteLink">
				<a id="shareBtn">点我约ta</a>
			</div>
			<div class="bottomImg"></div>
		</section>
		<section id="inviteUser" class="Bottom">
			<h5>你已约到0个新伙伴，超越0%的追书用户！</h5>
			<div class="rule">
				<a href="rule.html">了解详细规则</a>
			</div>
		</section>
		<script src="js/bridge.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/invites-v2.js" type="text/javascript" charset="utf-8"></script> -->
	</body>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1261312741'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261312741' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
