<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<title>给你200书券，我在追书神器等你！</title>
		<script src="js/zepto.min..js" type="text/javascript" charset="utf-8"></script>
		<script src="js/flexible.js"></script>
		<link rel="stylesheet" type="text/css" href="css/receive.css?v=3"/>
	</head>
	<body>
		<section class="container">
			<div id="inviteInfo" class="inviteInfo">
				<i class="userIcon">
					<img src="img/avatar.jpg"/>
				</i>
				<div class="context">
					<h3>快人一步，</h3>
					<h3 class="last">读你想读的书！</h3>
				</div>
			</div>
			<div class="from">
				<div class="phoneInp">
					<input id="mobile" type="tel" maxlength="11" placeholder="输入手机号，接受好友的邀约"/>
				</div>
				<div class="tips">
					必须使用追书V3.111及其以上版本，才能完成邀请
				</div>
				<a id="accept" class="button"></a>
				<div class="rule">
					<a href="rule.html">了解详情规则</a>
				</div>
			</div>
		</section>
		<div id="mask" class="mask">
			<div id="confirm" class="confirm">
				<h6>提示</h6>
				<div class="text">
				</div>
				<a class='sureBtn'>知道了</a>
			</div>
		</div>
		<script src="js/receive-v2.js?v=7" type="text/javascript" charset="utf-8"></script>
	</body>
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none' id='cnzz_stat_icon_1261312741'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1261312741' type='text/javascript'%3E%3C/script%3E"));</script>
</html>
